<div class="containerlogin">
  <div class="row">
    <h4>Panel de Administrador</h4>
    <form action="/admin/login" method="post">

      <div class="form-floating md 3">
        <input type="usuario" class="form-control" id="inputUser" placeholder="usuario" name="usuario">
        <label for="inputUser">Usuario</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
        <label for="inputPassword">Password</label>
      </div>

      <button type="submit" class="button">Entrar</button>
    </form>
    {{#if error}}
    <p>Usuario y/o contraseña incorrectos</p>
    {{/if}}
  </div>
</div>